.main {

    display: flex;
    
}


h1 {

    text-align:center;
    color: black;
}

nav li {

background-color: #ff6363;
;
list-style:none;
padding: 13px;
border-radius: 30px;
margin : 15px;
text-align:center;
font-size:medium;
text-decoration:none; 
border-width: 5px;


}

nav a {

    color : white ;
    padding : 5px;

}

h2 {

text-align:center;
}

nav img {
    width: 180px;
    border-radius:50%;
    text-align: center;
    border-width: 2px;
    
}

nav {
    border:2px black solid; 
    text-align:center;
    
}


ul {
    padding: 0px;
}

article {

    display: flex;

}

h3 {
    text-align: left;
}
p class {
    
}

nav a  {

    text-decoration: none;
}

a {

    color: red;
}

li {

    list-style:none;


}
 


.article_1 {
    margin : 80px 0.5em 0 auto;
    
}

.article_2 {
    
    margin : 150px 2.2em 0 auto;
}

.ensembleform {
    display: flex;
    margin-right: 200px;
    margin-bottom: 50px;
}

input {
    border:none;
}



.bloc_one {

    margin-left: 50px;
}

.bloc_two {
    margin-left: 100px;
   
}
.titreform {

    margin-right: 500px ;
}